*  {
    font-size: 115%;
   }
html,body {
    overflow-x: hidden;
    padding:1%;
   }
   body{    overflow-y: hidden;}
div.rightSideFixed {
    float: right;
    right: 40%;
    position: fixed;
}
.row {
    display: flex;
}
.column {
    border-style: double;
    padding: 7px;
    flex: 50%;
    transition: opacity ease 3s;
}
.button {
    outline: none;
    padding: 10px 15px;
    font-size: 70%;
    border: solid rgb(189, 189, 189);
    background-color: rgb(189, 189, 189);
    transition-duration: 0.2s;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(255, 255, 255);
    border: solid rgb(189, 189, 189);
}
.button:active {
    border: solid rgb(189, 189, 189);
    background-color:darkgray;
}
.bottomScreen {
    bottom: 1px;
    position: fixed;
}
#sname {
    font-size:30px;
    padding: 14px 28px;
}
.rainbow-text {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, rgb(133, 133, 0), orange, red, violet);
    background-size: 800% 800%;
    background-clip:unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 4s ease infinite;
  }
  @keyframes rainbow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}
.invisible {
    opacity:0;  
    height: 0;
    width: 0;
}
.visible {
    opacity:1;
    height: auto;
    width: auto;
}
table {
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px double black;
    text-align: left;
    padding: 8px;
  }

  /*tr:nth-child(even) {
    background-color: #9c9c9c;
  }*/
  select {
      font-size: 30px;
  }